.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1320px;
}

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
footer {
  background: #1c1e53;
  font-family: Poppins, sans-serif;
}
footer .footer-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 30px;
  padding-top: 104px;
  padding-bottom: 92px;
}
footer .footer-content .left-content {
  display: flex;
  flex-direction: column;
}
footer .footer-content .left-content img {
  width: 160px;
}
footer .footer-content .left-content p {
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin: 23px 0 86px;
  max-width: 400px;
  opacity: 0.8;
}
footer .footer-content .left-content .call {
  background: var(--Yellow, #fcd980);
  padding: 18px 0 17px 37px;
  display: flex;
  gap: 30px;
  max-width: 517px;
}
footer .footer-content .left-content .call .card h3 {
  color: var(--Dark-blue, #282938);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
footer .footer-content .left-content .call .card p {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8;
  margin: 0;
}
footer .footer-content .right-content h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
footer .footer-content .right-content p {
  color: var(--Grey, #f4f6fc);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8;
  max-width: 400px;
  margin-top: 14px;
  margin-bottom: 28px;
}
footer .footer-content .right-content .card {
  display: flex;
  gap: 27px;
}
@media (max-width: 830px) {
  footer .footer-content {
    grid-template-columns: 1fr;
    place-items: center;
    padding: 70px 0;
  }
  footer .footer-content .left-content p {
    margin-bottom: 40px;
  }
}
@media (max-width: 450px) {
  footer p {
    font-size: 12px !important;
  }
  footer h1 {
    font-size: 30px !important;
  }
  footer h3 {
    font-size: 16px !important;
  }
}
@media (max-width: 380px) {
  footer .footer-content .left-content .call {
    flex-direction: column;
    padding: 30px;
    gap: 10px;
  }
}

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #1c1e53;
  font-family: Poppins, sans-serif !important;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  transition: all 0.5s linear;
}
header .nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .nav ul li a {
  color: #bbbbcb;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  transition: all 0.5s linear;
}
header .nav ul li a:hover {
  color: var(--White, #fff);
}
header .nav ul li a button {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  cursor: pointer;
}
header .nav #navbar-responsive.open {
  left: 0;
}
header .nav .menu-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
  padding: 19.5px 0;
}
header .nav .menu-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
}
@media (max-width: 850px) {
  header .nav #navbar-responsive {
    position: fixed;
    top: 91px;
    bottom: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1e53;
    transition: 0.5s;
  }
  header .nav .menu-btn {
    display: flex;
  }
}
header .navbar-shrink {
  padding: 8px 0;
}
header .navbar-shrink .menu-btn {
  padding: 10px 0;
}
header .navbar-shrink #navbar-responsive {
  top: 56px;
}

.about-us {
  padding-top: 95.2px;
}
.blog {
  padding-top: 95.2px;
}
.contact {
  padding-top: 95.2px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Manrope;
  src: url(../../fonts/Manrope-Regular.ttf);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

:root {
  --White: rgba(255, 255, 255, 1);
  --Yellow: rgba(252, 217, 128, 1);
  --Dark-blue: rgba(40, 41, 56, 1);
  --Grey: rgba(244, 246, 252, 1);
}

.home {
  font-family: Poppins, sans-serif !important;
  padding-top: 95.2px;
}
.home main #header {
  background: #1c1e53;
}
.home main #header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 126px 0;
}
.home main #header .header-content .text {
  max-width: 560px;
}
.home main #header .header-content .text h1 {
  color: var(--White, #fff);
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}
.home main #header .header-content .text p {
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
  margin: 24px 0 48px;
}
.home main #header .header-content .text .buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.home main #header .header-content .text .buttons button:nth-child(1) {
  padding: 16px 56px;
  border-radius: 41px;
  background: #fcd980;
  color: #1b1c2b;
  font-family: Manrope !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
  transition: all 0.5s linear;
  width: 226px;
}
.home main #header .header-content .text .buttons button:nth-child(1):hover {
  background: #fde4a6;
}
.home main #header .header-content .text .buttons button:nth-child(2) {
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
}
.home main #header .header-content .text .buttons button:nth-child(2) span {
  margin-left: 16px;
}
.home main #project .project-content {
  padding: 57px 0 128px;
}
.home main #project .project-content .top {
  display: flex;
  justify-content: space-between;
}
.home main #project .project-content .top h1 {
  color: var(--Dark-blue, #282938);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.home main #project .project-content .top button {
  color: #282938;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
}
.home main #project .project-content .top button span {
  margin-left: 16px;
}
.home main #project .project-content .bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 64px;
}
.home main #project .project-content .bottom .left {
  background: url(../../images/bottom\ left\ bg.svg);
  background-repeat: no-repeat;
  background-position: center top;
}
.home main #project .project-content .bottom .left .left-content {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  justify-content: flex-end;
  max-width: 400px;
  height: 600px;
  background: linear-gradient(329deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
.home main #project .project-content .bottom .left .left-content h2 {
  color: var(--White, #fff);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  max-width: 313px;
}
.home main #project .project-content .bottom .left .left-content p {
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  max-width: 310px;
  margin: 16px 0 40px;
}
.home main #project .project-content .bottom .left .left-content a {
  color: var(--Yellow, #fcd980);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 76px;
}
.home main #project .project-content .bottom .left .left-content a span {
  margin-left: 16px;
}
.home main #project .project-content .bottom .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}
.home main #project .project-content .bottom .right .top {
  display: flex;
  justify-content: flex-end;
  background: url(../../images/bottom\ right\ bg-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.home main #project .project-content .bottom .right .top .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(329deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  height: 284px;
  max-width: 410px;
  width: 100%;
  padding-left: 56px;
}
.home main #project .project-content .bottom .right .top .text h2 {
  color: var(--White, #fff);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.home main #project .project-content .bottom .right .top .text a {
  color: var(--Yellow, #fcd980);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 45px;
  margin-top: 10px;
}
.home main #project .project-content .bottom .right .top .text a span {
  margin-left: 16px;
}
.home main #project .project-content .bottom .right img {
  margin-left: 6px;
}
.home main #prodact {
  background: var(--Grey, #f4f6fc);
}
.home main #prodact .prodact-content {
  padding: 128px 0;
}
.home main #prodact .prodact-content .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.home main #prodact .prodact-content .header h4 {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
.home main #prodact .prodact-content .header h1 {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  max-width: 630px;
}
.home main #prodact .prodact-content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 30px;
}
.home main #prodact .prodact-content .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #fff;
  max-width: 405px;
  padding: 48px 32px 48px 48px;
  height: 316px;
}
.home main #prodact .prodact-content .cards .card svg {
  margin-bottom: 25px;
}
.home main #prodact .prodact-content .cards .card h2 {
  color: var(--Dark-blue, #282938);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.home main #prodact .prodact-content .cards .card p {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 12px;
}
.home main #client {
  background: #f9fbfd;
}
.home main #client .client-content {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 2.1fr;
  padding: 128px 0;
}
.home main #client .client-content .left {
  max-width: 327px;
}
.home main #client .client-content .left h1 {
  color: var(--Dark-blue, #282938);
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
.home main #client .client-content .left p {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  margin-top: 16px;
}
.home main #client .client-content .right h1 {
  color: var(--Dark-blue, #282938);
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
.home main #client .client-content .right .cards {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home main #client .client-content .right .cards .profil {
  display: flex;
  align-items: center;
  gap: 9px;
}
.home main #client .client-content .right .cards .profil .username h4 {
  color: var(--Dark-blue, #282938);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
.home main #client .client-content .right .cards .profil .username h5 {
  color: var(--Dark-blue, #282938);
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
}
.home main #client .client-content .right .cards .carousel {
  display: flex;
  gap: 8px;
}
.home main #client .client-content .right .cards .carousel a {
  font-size: 32px;
  font-weight: 500;
  color: #7e7f88;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s linear;
}
.home main #client .client-content .right .cards .carousel a:hover {
  background: #5239fa;
  color: #fff;
}
.home #backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}

.pricing {
  padding-top: 95.2px;
}
.work {
  padding-top: 95.2px;
}/*# sourceMappingURL=style.css.map */