.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1320px;
}

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
footer {
  background: #1c1e53;
  font-family: Poppins, sans-serif;
}
footer .footer-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 30px;
  padding-top: 104px;
  padding-bottom: 92px;
}
footer .footer-content .left-content {
  display: flex;
  flex-direction: column;
}
footer .footer-content .left-content img {
  width: 160px;
}
footer .footer-content .left-content p {
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin: 23px 0 86px;
  max-width: 400px;
  opacity: 0.8;
}
footer .footer-content .left-content .call {
  background: var(--Yellow, #fcd980);
  padding: 18px 0 17px 37px;
  display: flex;
  gap: 30px;
  max-width: 517px;
}
footer .footer-content .left-content .call .card h3 {
  color: var(--Dark-blue, #282938);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
footer .footer-content .left-content .call .card p {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8;
  margin: 0;
}
footer .footer-content .right-content h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
footer .footer-content .right-content p {
  color: var(--Grey, #f4f6fc);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8;
  max-width: 400px;
  margin-top: 14px;
  margin-bottom: 28px;
}
footer .footer-content .right-content .card {
  display: flex;
  gap: 27px;
}
@media (max-width: 830px) {
  footer .footer-content {
    grid-template-columns: 1fr;
    place-items: center;
    padding: 70px 0;
  }
  footer .footer-content .left-content p {
    margin-bottom: 40px;
  }
}
@media (max-width: 450px) {
  footer p {
    font-size: 12px !important;
  }
  footer h1 {
    font-size: 30px !important;
  }
  footer h3 {
    font-size: 16px !important;
  }
}
@media (max-width: 380px) {
  footer .footer-content .left-content .call {
    flex-direction: column;
    padding: 30px;
    gap: 10px;
  }
}

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #1c1e53;
  font-family: Poppins, sans-serif !important;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  transition: all 0.5s linear;
}
header .nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .nav ul li a {
  color: #bbbbcb;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  transition: all 0.5s linear;
}
header .nav ul li a:hover {
  color: var(--White, #fff);
}
header .nav ul li a button {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  cursor: pointer;
}
header .nav #navbar-responsive.open {
  left: 0;
}
header .nav .menu-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
  padding: 19.5px 0;
}
header .nav .menu-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
}
@media (max-width: 850px) {
  header .nav #navbar-responsive {
    position: fixed;
    top: 91px;
    bottom: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1e53;
    transition: 0.5s;
  }
  header .nav .menu-btn {
    display: flex;
  }
}
header .navbar-shrink {
  padding: 8px 0;
}
header .navbar-shrink .menu-btn {
  padding: 10px 0;
}
header .navbar-shrink #navbar-responsive {
  top: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.about-us .container {
  max-width: 1280px;
  margin: 0 auto;
}
.about-us .a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 128px;
}
.about-us .a .a1 h2 {
  color: #282938;
  /* Label 01 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}
.about-us .a .a1 h1 {
  color: #282938;
  /* Heading 1 */
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px; /* 137.037% */
  margin-top: 8px;
}
.about-us .a .a1 p {
  color: #282938;
  text-align: justify;
  margin-top: 31px;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  max-width: 484px;
}
.about-us .g {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background: #f4f5f5;
  margin-top: 126px;
  gap: 20px;
}
.about-us .g .s1 h1 {
  color: #282938;
  /* Heading 3 */
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
  padding-top: 96px;
}
.about-us .g .s1 p {
  color: #282938;
  max-width: 515px;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-top: 16px;
  margin-bottom: 96px;
}
.about-us .g .b1 h1 {
  color: #282938;
  /* Heading 3 */
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
  padding-top: 96px;
}
.about-us .g .b1 p {
  color: #282938;
  max-width: 515px;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-top: 16px;
  margin-bottom: 96px;
}
.about-us .c img {
  width: 100%;
}
.about-us .d5 {
  background: #f4f6fc;
  margin-top: 128px;
}
.about-us .d {
  padding-top: 128px;
  color: #282938;
  text-align: center;
  /* Heading 2 */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.about-us .f1 {
  display: flex;
}
.about-us .d1 {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 48px;
  padding-bottom: 128px;
}
.about-us .d2 {
  width: 296px;
  height: 344px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us .d2 h1 {
  color: #1d2130;
  margin-top: 30px;
  text-align: center;
  /* Heading 6 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
.about-us .d2 p {
  color: #1d2130;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.about-us .k6 {
  margin-top: -168px;
}
.about-us .k3 {
  margin-top: -35px;
}
.about-us .k4 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us .k4 h1 {
  color: #1d2130;
  margin-top: 30px;
  text-align: center;
  /* Heading 6 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
.about-us .k4 p {
  color: #1d2130;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.about-us #d5 {
  background: #f4f6fc;
}
.about-us #d5 .d5-content h1 {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
  padding-top: 128px;
  padding-bottom: 48px;
}
.about-us #d5 .d5-content .cards {
  display: flex;
  justify-content: center;
  padding-bottom: 128px;
  flex-wrap: wrap;
  row-gap: 30px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.about-us #d5 .d5-content .cards .card {
  max-width: 296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 64px;
  background: #fff;
}
.about-us #d5 .d5-content .cards .card h2 {
  color: var(--b, #1d2130);
  text-align: center;
  /* Heading 6 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
  margin-top: 30px;
}
.about-us #d5 .d5-content .cards .card p {
  color: var(--b, #1d2130);
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.about-us #backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}

@media (max-width: 1300px) {
  .a2 img {
    width: 95%;
    margin-top: 50px;
  }
  .k1 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1050px) {
  .a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .b {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 976px) {
  .about-page .hello {
    position: fixed;
    background: #1c1e53;
    width: 100%;
    height: 80px;
  }
  .about-page .hello nav .checkBtn {
    display: block;
    color: white;
    margin-right: -150%;
  }
  .about-page .hello nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: -100%;
    background-color: #1c1e53;
    text-align: center;
    transition: all 0.5s;
  }
  .about-page .hello nav ul li {
    display: block;
  }
  .about-page .hello nav #check:checked ~ ul {
    left: 0;
  }
  .about-page .wave {
    background: #1c1e53;
  }
  .about-page .wave .footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0;
    gap: 80px;
    background: #1c1e53;
    flex-shrink: 0;
  }
}
@media (max-width: 768px) {
  .about-page .hello {
    position: fixed;
    background: #1c1e53;
    width: 100%;
    height: 80px;
  }
  .about-page .hello nav .checkBtn {
    display: block;
    color: white;
    margin-right: -90%;
  }
  .about-page .hello nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: -100%;
    background-color: #1c1e53;
    text-align: center;
    transition: all 0.5s;
  }
  .about-page .hello nav ul li {
    display: block;
  }
  .about-page .hello nav #check:checked ~ ul {
    left: 0;
  }
  .about-us .wave {
    background: #1c1e53;
  }
  .about-us .wave .footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0;
    gap: 80px;
    background: #1c1e53;
    flex-shrink: 0;
  }
  .about-us .wave .f1 {
    display: flex;
  }
  .about-us .g {
    grid-template-columns: 1fr;
  }
  .about-us .g p {
    margin-bottom: 30px !important;
  }
}
@media (max-width: 505px) {
  #z {
    font-size: 24px;
  }
  #z1 {
    font-size: 12px;
  }
  #z2 {
    font-size: 44px;
  }
  #z3 {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .about-page .hello {
    position: fixed;
    background: #1c1e53;
    width: 100%;
    height: 80px;
  }
  .about-page .hello nav .checkBtn {
    display: block;
    margin-right: -5%;
    color: white;
  }
  .about-page .hello nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: -100%;
    background-color: #1c1e53;
    text-align: center;
    transition: all 0.5s;
  }
  .about-page .hello nav ul li {
    display: block;
  }
  .about-page .hello nav #check:checked ~ ul {
    left: 0;
  }
  .about-page .wave {
    background: #1c1e53;
  }
  .about-page .wave .footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0;
    height: 700px;
    gap: 80px;
    background: #1c1e53;
    flex-shrink: 0;
  }
}
@font-face {
  font-family: Poppins !important;
  src: url(../../fonts/Poppins-Regular.ttf) !important;
}
.blog {
  font-family: Poppins, sans-serif !important;
  padding-top: 95.2px;
}
.blog main {
  padding-top: 100px;
}
.blog main .hero .hero-style {
  margin-bottom: 128px;
}
.blog main .hero .hero-style .hero-text {
  margin: 0 auto;
  max-width: 949px;
  color: #282938;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 16px;
}
.blog main .hero .hero-style .hero-par {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 32px;
}
.blog main .hero .hero-style .hero-img {
  margin-bottom: 48px;
  margin: 0 auto;
}
.blog main .hero .hero-style .hero-par2 {
  margin: 0 auto;
  max-width: 831px;
  color: #282938;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 16px;
}
.blog main .hero .hero-style .hero-par3 {
  color: #2405f2;
  opacity: 0.7;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.blog main .our-blog .blog-style .our-blog-text {
  color: #282938;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 48px;
}
.blog main .our-blog .blog-style .blog-cards {
  margin-bottom: 128px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}
.blog main .our-blog .blog-style .blog-cards .blog-card {
  width: 405px;
  margin-bottom: 64px;
}
.blog main .our-blog .blog-style .blog-cards .blog-card .blog-img {
  margin-bottom: 32px;
}
.blog main .our-blog .blog-style .blog-cards .blog-card .par-day {
  color: #282938;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}
.blog main .our-blog .blog-style .blog-cards .blog-card .blog-text {
  max-width: 404px;
  color: #282938;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 16px;
}
.blog main .our-blog .blog-style .blog-cards .blog-card .blog-par {
  color: #282938;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.blog main .our-blog .blog-style .blog-cards .blog-card .blog-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.blog main .our-blog .blog-style .blog-cards .blog-card .blog-title .blog-par2 {
  color: #1c1e53;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.blog #backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}

@media (max-width: 1200px) {
  .blog main .hero-img {
    width: 900px;
  }
}
@media (max-width: 940px) {
  .blog main .hero-img {
    width: 700px;
    padding-left: 100px;
  }
  .blog main .blog-img {
    width: 370px;
  }
}
@media (max-width: 750px) {
  .blog main .hero-img {
    width: 550px;
    padding-left: 50px;
  }
  .blog main .hero-text {
    font-size: 38px !important;
  }
}
@media (max-width: 580px) {
  .blog main .blog-img {
    width: 330px;
  }
  .blog main .hero-img {
    width: 400px;
    padding: 0;
  }
  .blog main .hero-text {
    font-size: 28px !important;
  }
}
@media (max-width: 460px) {
  .blog main .hero-img {
    width: 350px !important;
  }
  .blog main .hero-text {
    font-size: 28px !important;
  }
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
:root {
  --White: rgba(255, 255, 255, 1);
  --Yellow: rgba(252, 217, 128, 1);
  --Dark-blue: rgba(40, 41, 56, 1);
  --Grey: rgba(244, 246, 252, 1);
}

.contact {
  padding-top: 95.2px;
}
.contact main {
  margin-bottom: 120px;
}
.contact main .main .container .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact main .main .container .nav-link h2 {
  color: var(--Dark-blue, #282938);
  text-align: center;
  /* Heading 2 */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-top: 128px;
  /* 133.333% */
}
.contact main .main .container .nav-link .p {
  max-width: 562px;
  margin-top: 16px;
  margin-bottom: 64px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
}
.contact main .nav-link1 {
  max-width: 1061px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Grey, #f4f6fc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 55px 60px;
}
.contact main .nav-link1 form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  position: relative;
}
.contact main .nav-link1 form label {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 12px;
}
.contact main .nav-link1 form input {
  padding: 18px 32px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  width: 438px;
  margin-bottom: 24px;
}
.contact main .nav-link1 form ::-moz-placeholder {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.contact main .nav-link1 form ::placeholder {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.contact main .nav-link1 form .button {
  position: absolute;
  bottom: -280px;
  border-radius: 41px;
  background: var(--Dark-blue, #282938);
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--Grey, #f4f6fc);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.contact main .nav-link1 form .button:hover {
  background: #535460;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
  border: 2px solid #282938;
  transition: all 0.5s linear;
}
.contact main .nav-link1 .comment {
  display: flex;
  flex-direction: column;
}
.contact main .nav-link1 .comment label {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.contact main .nav-link1 .comment input {
  padding: 18px 32px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  max-width: 1061px;
  height: 138px;
  width: 100%;
  margin-bottom: 130px;
  font-size: 18px;
  margin-top: 12px;
}
.contact main .nav-link1 .comment ::-moz-placeholder {
  color: #000;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.contact main .nav-link1 .comment ::placeholder {
  color: #000;
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.contact main .n50 {
  display: flex;
  justify-content: center;
}
.contact #backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}
@media (max-width: 1100px) {
  .contact main .nav-link1 form {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0px;
    padding: 30px !important;
  }
  .contact main .nav-link1 form button {
    width: 180px !important;
    padding: 0 !important;
    height: 50px !important;
  }
  .contact .input {
    display: flex;
    flex-direction: column;
  }
  .contact main .nav-link1 {
    padding: 30px;
  }
}
@media (max-width: 630px) {
  .contact input {
    width: 300px !important;
  }
  .contact .nav-link1 .comment {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 470px) {
  .contact h2 {
    font-size: 32px !important;
    margin-top: 60px !important;
  }
  .contact p {
    font-size: 12px !important;
  }
  .contact label {
    font-size: 16px !important;
  }
  .contact input {
    width: 250px !important;
  }
  .contact ::-moz-placeholder {
    font-size: 12px !important;
  }
  .contact ::placeholder {
    font-size: 12px !important;
  }
  .contact .nav-link1 {
    padding: 0px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Manrope;
  src: url(../../fonts/Manrope-Regular.ttf);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

:root {
  --White: rgba(255, 255, 255, 1);
  --Yellow: rgba(252, 217, 128, 1);
  --Dark-blue: rgba(40, 41, 56, 1);
  --Grey: rgba(244, 246, 252, 1);
}

.home {
  font-family: Poppins, sans-serif !important;
  padding-top: 90px;
}
.home main #header {
  background: #1c1e53;
}
.home main #header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 126px 0;
}
.home main #header .header-content .text {
  max-width: 560px;
}
.home main #header .header-content .text h1 {
  color: var(--White, #fff);
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}
.home main #header .header-content .text p {
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
  margin: 24px 0 48px;
}
.home main #header .header-content .text .buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.home main #header .header-content .text .buttons button:nth-child(1) {
  padding: 16px 56px;
  border-radius: 41px;
  background: #fcd980;
  color: #1b1c2b;
  font-family: Manrope !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
  transition: all 0.5s linear;
  width: 226px;
}
.home main #header .header-content .text .buttons button:nth-child(1):hover {
  background: #fde4a6;
}
.home main #header .header-content .text .buttons button:nth-child(2) {
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
}
.home main #header .header-content .text .buttons button:nth-child(2) span {
  margin-left: 16px;
}
.home main #header .header-content img {
  width: 100%;
}
.home main #project .project-content {
  padding: 57px 0 128px;
}
.home main #project .project-content .top {
  display: flex;
  justify-content: space-between;
}
.home main #project .project-content .top h1 {
  color: var(--Dark-blue, #282938);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.home main #project .project-content .top button {
  color: #282938;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
}
.home main #project .project-content .top button span {
  margin-left: 16px;
}
.home main #project .project-content .bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 64px;
}
.home main #project .project-content .bottom .left {
  background: url(../../images/bottom\ left\ bg.svg);
  background-repeat: no-repeat;
  background-position: center top;
}
.home main #project .project-content .bottom .left .left-content {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  justify-content: flex-end;
  max-width: 400px;
  height: 600px;
  background: linear-gradient(329deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
.home main #project .project-content .bottom .left .left-content h2 {
  color: var(--White, #fff);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  max-width: 313px;
}
.home main #project .project-content .bottom .left .left-content p {
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  max-width: 310px;
  margin: 16px 0 40px;
}
.home main #project .project-content .bottom .left .left-content a {
  color: var(--Yellow, #fcd980);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 76px;
}
.home main #project .project-content .bottom .left .left-content a span {
  margin-left: 16px;
}
.home main #project .project-content .bottom .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}
.home main #project .project-content .bottom .right .top {
  display: flex;
  justify-content: flex-end;
  background: url(../../images/bottom\ right\ bg-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.home main #project .project-content .bottom .right .top .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(329deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  height: 284px;
  max-width: 410px;
  width: 100%;
  padding-left: 56px;
}
.home main #project .project-content .bottom .right .top .text h2 {
  color: var(--White, #fff);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.home main #project .project-content .bottom .right .top .text a {
  color: var(--Yellow, #fcd980);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 45px;
  margin-top: 10px;
}
.home main #project .project-content .bottom .right .top .text a span {
  margin-left: 16px;
}
.home main #project .project-content .bottom .right img {
  margin-left: 6px;
}
.home main #prodact {
  background: var(--Grey, #f4f6fc);
}
.home main #prodact .prodact-content {
  padding: 128px 0;
}
.home main #prodact .prodact-content .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.home main #prodact .prodact-content .header h4 {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
.home main #prodact .prodact-content .header h1 {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  max-width: 630px;
}
.home main #prodact .prodact-content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 30px;
}
.home main #prodact .prodact-content .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #fff;
  max-width: 405px;
  padding: 48px 32px 48px 48px;
  height: 316px;
}
.home main #prodact .prodact-content .cards .card svg {
  margin-bottom: 25px;
}
.home main #prodact .prodact-content .cards .card h2 {
  color: var(--Dark-blue, #282938);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.home main #prodact .prodact-content .cards .card p {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 12px;
}
.home main #client {
  background: #f9fbfd;
}
.home main #client .client-content {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 2.1fr;
  padding: 128px 0;
}
.home main #client .client-content .left {
  max-width: 327px;
}
.home main #client .client-content .left h1 {
  color: var(--Dark-blue, #282938);
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
.home main #client .client-content .left p {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  margin-top: 16px;
}
.home main #client .client-content .right h1 {
  color: var(--Dark-blue, #282938);
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
.home main #client .client-content .right .cards {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home main #client .client-content .right .cards .profil {
  display: flex;
  align-items: center;
  gap: 9px;
}
.home main #client .client-content .right .cards .profil .username h4 {
  color: var(--Dark-blue, #282938);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
.home main #client .client-content .right .cards .profil .username h5 {
  color: var(--Dark-blue, #282938);
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
}
.home main #client .client-content .right .cards .carousel {
  display: flex;
  gap: 8px;
}
.home main #client .client-content .right .cards .carousel a {
  font-size: 32px;
  font-weight: 500;
  color: #7e7f88;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s linear;
}
.home main #client .client-content .right .cards .carousel a:hover {
  background: #5239fa;
  color: #fff;
}
@media (max-width: 1225px) {
  .home main #prodact .prodact-content .cards .card {
    height: 400px;
  }
  .home main #prodact .prodact-content .cards .card svg {
    width: 35px;
  }
}
@media (max-width: 1100px) {
  .home main #header .header-content img {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  .home main #prodact .prodact-content .cards {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .home main #prodact .prodact-content .cards .card {
    height: 316px;
  }
  .home main #client .client-content {
    grid-template-columns: 1fr;
    place-items: start;
  }
}
@media (max-width: 870px) {
  .home main #header .header-content {
    flex-direction: column-reverse;
  }
  .home main #header .header-content img {
    width: 600px;
  }
  .home main #project .project-content .bottom {
    grid-template-columns: 1fr;
  }
  .home main #project .project-content .bottom .right {
    gap: 30px;
  }
  .home main #project .project-content .bottom .right .top {
    justify-content: center;
  }
  .home main #project .project-content .bottom .right img {
    display: block;
    margin: 0 auto;
    width: 410px;
  }
  .home main #project .project-content .bottom .left .left-content {
    height: 400px;
  }
  .home main #prodact .prodact-content .cards .card {
    padding: 25px;
  }
}
@media (max-width: 650px) {
  .home main #header .header-content img {
    width: 400px;
  }
  .home main h1 {
    font-size: 32px !important;
    line-height: 35px !important;
  }
  .home main p {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .home main h2 {
    font-size: 18px !important;
  }
  .home main button {
    font-size: 16px !important;
  }
  .home main #prodact .prodact-content .cards {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .home main #prodact .prodact-content .cards .card {
    height: 250px;
  }
  .home main #prodact .prodact-content {
    padding: 70px 0;
  }
  .home main #header .header-content {
    padding: 70px 0;
  }
  .home main #header .header-content .text .buttons {
    flex-direction: column;
  }
  .home main #header .header-content .text .buttons button:nth-child(1) {
    padding: 8px 20px;
  }
  .home main #client .client-content {
    padding: 70px 0;
  }
}
@media (max-width: 450px) {
  .home main #header .header-content img {
    width: 250px;
  }
  .home main .home main #project .project-content .bottom .left {
    place-items: center;
  }
  .home main #project .project-content .bottom .left .left-content {
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
  .home main #project .project-content .bottom .left .left-content a {
    margin-bottom: 0;
  }
  .home main #project .project-content .bottom {
    place-items: center;
  }
  .home main h1 {
    font-size: 26px !important;
  }
  .home main .project-content .top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .home main #project .project-content .bottom .right .top .text {
    width: 300px;
    height: 230px;
    justify-content: center;
  }
  .home main #project .project-content .bottom .right .top .text a {
    margin-bottom: 0;
  }
  .home main #project .project-content .bottom .right .top {
    width: 250px;
    justify-content: center;
  }
  .home main #project .project-content .bottom .right {
    justify-content: center;
    align-items: center;
  }
  .home main #project .project-content .bottom .right img {
    width: 300px;
  }
  .home main #project .project-content {
    padding-bottom: 0px;
  }
  .home main #client .client-content .right .cards .profil img {
    width: 35px;
  }
  .home main #client .client-content .right .cards .profil h4 {
    font-size: 14px !important;
  }
  .home main .carousel a {
    font-size: 24px !important;
    width: 35px !important;
    height: 35px !important;
  }
  .home main #header .header-content .text .buttons button:nth-child(1) {
    padding: 8px 0px;
    width: 180px;
  }
}
@media (max-width: 340px) {
  .home main #project .project-content .bottom .left .left-content {
    width: 250px;
  }
  .home main #project .project-content .bottom .right img {
    width: 250px;
  }
  .home main #project .project-content .bottom .right .top .text {
    width: 250px;
  }
}
.home #backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pricing {
  padding-top: 95.2px;
}
.pricing main {
  font-family: Poppins, sans-serif !important;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
.pricing main .conatiner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
.pricing main .text {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing main .text h1 {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.pricing main .text p {
  max-width: 562px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  /* Body 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.pricing main .box {
  width: 406px;
  height: 800px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Grey, #f4f6fc);
  margin-bottom: 100px;
  transition: 0.5s;
}
.pricing main .box:hover {
  background: var(--Tint-blue, #1c1e53);
  color: #fff !important;
}
.pricing main .box:hover .bt-1 {
  background: var(--Yellow, #fcd980);
}
.pricing main .box:hover .bt-1 p {
  color: #282938 !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.pricing main .box:hover .tx1 #p2 {
  color: #fcd980 !important;
}
.pricing main .box .tx1 {
  display: flex;
  align-items: center;
  padding-top: 64px;
  padding-left: 48px;
  gap: 8px;
}
.pricing main .box .tx1 #p1 {
  width: 95px;
  height: 56px;
  flex-shrink: 0;
  /* Heading 3 */
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
}
.pricing main .box .tx1 #p2 {
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.pricing main .box .tx1 #p2:hover {
  color: var(--Yellow, #fcd980);
}
.pricing main .box .tx2 {
  padding-top: 20px;
  padding-left: 48px;
}
.pricing main .box .tx2 #p3 {
  width: 180px;
  height: 38px;
  flex-shrink: 0;
  /* Heading 6 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
.pricing main .box .tx2 #p3 {
  width: 281px;
  /* Body 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.pricing main .box .table {
  display: inline-flex;
  gap: 12px;
  margin-top: 78px;
  margin-left: 48px;
}
.pricing main .box .table #p4 {
  /* Body 1 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.pricing main .box .tab2 {
  display: flex;
  margin-top: 22px;
  margin-left: 48px;
  gap: 12px;
}
.pricing main .box .bt-1 {
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  background: var(--Dark-blue, #282938);
  margin-top: 79px;
  margin-left: 76px;
}
.pricing main .box .bt-1 p {
  color: var(--Grey, #f4f6fc);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}
.pricing main .cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 64px;
}
.pricing main .tas {
  margin-top: -20px;
}
.pricing main .bre {
  margin-top: -32px;
}
.pricing main .lk {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.pricing main .text3 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.pricing main .text3 h1 {
  width: 406px;
  color: var(--Dark-blue, #282938);
  /* Heading 2 */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.pricing main .text3 p {
  right: 490px;
  color: var(--Royal-Blue, #2405f2);
  text-align: center;
  /* Label 01 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
  opacity: 0.87;
}
.pricing main .text5 {
  display: flex;
  gap: 58px;
  width: 843px;
  height: 162px;
}
.pricing main .text5 #lp {
  color: var(--Royal-Blue, #2405f2);
  text-align: center;
  /* Heading 6 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
.pricing main .text5 #lp1 {
  color: var(--Dark-blue, #282938);
  /* Heading 6 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
  padding-bottom: 16px;
}
.pricing main .text5 #ko {
  width: 624px;
  height: 62px;
  flex-shrink: 0;
  color: var(--Dark-blue, #282938);
  /* Label 01 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}
.pricing main .text5 #ml {
  width: 843px;
  height: 1px;
  background: rgba(194, 187, 255, 0.7);
}
.pricing main .text6 {
  display: flex;
  gap: 54px;
  margin-top: 32px;
  padding-bottom: 32px;
}
.pricing main .text6 #l4 {
  color: var(--Royal-Blue, #2405f2);
  text-align: center;
  /* Heading 6 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
.pricing main .text6 #lh {
  color: var(--Dark-blue, #282938);
  /* Heading 6 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
.pricing main .text6 #xc {
  position: relative;
  left: 155px;
}
.pricing main .text6 #xm {
  position: relative;
  left: 304px;
}
.pricing main .text6 #xm1 {
  position: relative;
  left: 115px;
}
.pricing main .text6 #xm2 {
  position: relative;
  left: 153px;
}
.pricing #backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}

.work {
  padding-top: 95.2px;
}
.work main h1 {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  padding: 4px 0 24px;
}
.work main .portfolio {
  background: var(--Grey, #f4f6fc);
}
.work main .portfolio-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
}
.work main .portfolio-contents p {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  max-width: 733px;
}
.work main .portfolio-contents .work-svg {
  display: flex;
  align-items: center;
  gap: 28px;
  padding-top: 32px;
}
.work main .template-contents {
  display: flex;
  flex-direction: column;
}
.work main .template-contents .template-items {
  display: flex;
  gap: 32px;
  padding: 96px 0 48px;
  justify-content: center;
}
.work main .template-contents .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.work main .template-contents .cards .card {
  padding-bottom: 64px;
}
.work main .template-contents .cards .card img {
  width: 623px;
}
.work main .template-contents .cards .card h3 {
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  padding: 24px 0 12px;
}
.work main .template-contents .cards .card p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  max-width: 623px;
}
.work main .template-contents .cards .card .h4-svg {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 24px;
}
.work main .template-contents .cards .card .h4-svg h4 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.work main .end-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
  padding: 64px 0 128px;
}
.work main .end-contents p {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
  max-width: 562px;
  padding: 20px 0 40px;
}
.work main .end-contents button {
  padding: 16px 67px;
  border-radius: 41px;
  background: #fcd980;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
}
.work #backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}

@media (max-width: 1309px) {
  .work main .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .work main .cards .card img {
    width: 400px !important;
  }
  .work main .cards .card p {
    max-width: 500px !important;
  }
}
@media (max-width: 1067px) {
  .work main .cards .card p {
    max-width: 400px !important;
  }
}
@media (max-width: 860px) {
  .work main .cards {
    justify-content: center !important;
  }
  .work main .cards .card img {
    width: 500px !important;
  }
  .work main .cards .card p {
    width: 500px !important;
  }
}
@media (max-width: 550px) {
  .work main .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .work main .cards .card img {
    width: 300px !important;
  }
  .work main .cards .card p {
    width: 350px !important;
  }
}
@media (max-width: 400px) {
  .work main h1 {
    font-size: 28px !important;
  }
  .work main h3 {
    font-size: 22px !important;
  }
  .work main p {
    font-size: 14px !important;
  }
  .work main h4 {
    font-size: 14px !important;
  }
}
@media (max-width: 385px) {
  .work main .cards .card img {
    width: 250px !important;
  }
  .work main .cards .card p {
    width: 250px !important;
  }
  .work main .template-items {
    flex-direction: column;
    align-items: center;
    padding: 60px 0 40px !important;
  }
  .work main .end-contents button {
    padding: 12px 40px !important;
  }
}/*# sourceMappingURL=style.css.map */