* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.about-us {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 128px;
    .a1 {
      h2 {
        color: #282938;
        /* Label 01 */
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
      }
      h1 {
        color: #282938;
        /* Heading 1 */
        font-family: Poppins;
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        line-height: 74px; /* 137.037% */
        margin-top: 8px;
      }
      p {
        color: #282938;
        text-align: justify;
        margin-top: 31px;
        /* Body 1 */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
        max-width: 484px;
      }
    }
  }
  .g {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 61px;
    background: #f4f5f5;
    margin-top: 126px;
    .s1 {
      h1 {
        color: #282938;
        /* Heading 3 */
        font-family: Poppins;
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px; /* 147.368% */
        padding-top: 96px;
      }
      p {
        color: #282938;
        max-width: 515px;
        /* Body 1 */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
        margin-top: 16px;
        margin-bottom: 96px;
      }
    }
  }
  .c img {
    width: 100%;
  }
  .d5 {
    background: #f4f6fc;
    margin-top: 128px;
  }
  .d {
    padding-top: 128px;
    color: #282938;
    text-align: center;
    /* Heading 2 */
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
  }
  .f1 {
    display: flex;
  }
  .d1 {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 48px;
    padding-bottom: 128px;
  }
  .d2 {
    width: 296px;
    height: 344px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: #1d2130;
      margin-top: 30px;
      text-align: center;
      /* Heading 6 */
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 150% */
    }
    p {
      color: #1d2130;
      /* Body 1 */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }
  }
  .k6 {
    margin-top: -168px;
  }
  .k3 {
    margin-top: -35px;
  }
  .k4 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: #1d2130;
      margin-top: 30px;
      text-align: center;
      /* Heading 6 */

      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 150% */
    }
    p {
      color: #1d2130;
      /* Body 1 */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }
  }
  #d5 {
    background: #f4f6fc;
    .d5-content {
      h1 {
        color: var(--Dark-blue, #282938);
        text-align: center;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 133.333% */
        padding-top: 128px;
        padding-bottom: 48px;
      }
      .cards {
        display: flex;
        justify-content: center;

        padding-bottom: 128px;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 10px;
        .card {
          max-width: 296px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 48px 64px;
          background: #fff;

          h2 {
            color: var(--b, #1d2130);
            text-align: center;

            /* Heading 6 */
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px; /* 150% */
            margin-top: 30px;
          }
          p {
            color: var(--b, #1d2130);

            /* Body 1 */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .a2 img {
    width: 95%;
    margin-top: 50px;
  }
  .k1 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1050px) {
  .a {
    flex-wrap: wrap;
    justify-content: center;
  }
  .b {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 976px) {
  .about-page {
    .hello {
      position: fixed;
      background: #1c1e53;
      width: 100%;
      height: 80px;
      nav {
        .checkBtn {
          display: block;
          color: white;
          margin-right: -150%;
        }

        ul {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 80px;
          left: -100%;
          background-color: #1c1e53;
          text-align: center;
          transition: all 0.5s;
        }
        ul li {
          display: block;
        }
        #check:checked ~ ul {
          left: 0;
        }
      }
    }
  }

  .about-page {
    .wave {
      background: #1c1e53;

      .footer-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 80px 0;
        gap: 80px;
        background: #1c1e53;
        flex-shrink: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .about-page {
    .hello {
      position: fixed;
      background: #1c1e53;
      width: 100%;
      height: 80px;
      nav {
        .checkBtn {
          display: block;
          color: white;
          margin-right: -90%;
        }

        ul {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 80px;
          left: -100%;
          background-color: #1c1e53;
          text-align: center;
          transition: all 0.5s;
        }
        ul li {
          display: block;
        }
        #check:checked ~ ul {
          left: 0;
        }
      }
    }
  }

  .about-us {
    .wave {
      background: #1c1e53;

      .footer-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 80px 0;
        gap: 80px;
        background: #1c1e53;
        flex-shrink: 0;
      }
      .f1 {
        display: flex;
      }
    }
  }
}
@media (max-width: 505px) {
  #z {
    font-size: 24px;
  }
  #z1 {
    font-size: 12px;
  }

  #z2 {
    font-size: 44px;
  }
  #z3 {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .about-page {
    .hello {
      position: fixed;
      background: #1c1e53;
      width: 100%;
      height: 80px;

      nav {
        .checkBtn {
          display: block;
          margin-right: -5%;
          color: white;
        }

        ul {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 80px;
          left: -100%;
          background-color: #1c1e53;
          text-align: center;
          transition: all 0.5s;
        }
        ul li {
          display: block;
        }
        #check:checked ~ ul {
          left: 0;
        }
      }
    }
  }

  .about-page {
    .wave {
      background: #1c1e53;
      .footer-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 80px 0;
        height: 700px;
        gap: 80px;
        background: #1c1e53;
        flex-shrink: 0;
      }
    }
  }
}
