@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}

footer {
  background: #1c1e53;
  font-family: Poppins, sans-serif;
  .footer-content {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 30px;
    padding-top: 104px;
    padding-bottom: 92px;

    .left-content {
      display: flex;
      flex-direction: column;
      img {
        width: 160px;
      }
      p {
        color: var(--White, #fff);
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        margin: 23px 0 86px;
        max-width: 400px;
        opacity: 0.8;
      }
      .call {
        background: var(--Yellow, #fcd980);
        padding: 18px 0 17px 37px;
        display: flex;
        gap: 30px;
        max-width: 517px;

        .card {
          h3 {
            color: var(--Dark-blue, #282938);
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
          }
          p {
            color: var(--Dark-blue, #282938);
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            opacity: 0.8;
            margin: 0;
          }
        }
      }
    }
    .right-content {
      h1 {
        color: #fff;
        font-size: 48px;
        font-weight: 600;
        line-height: 64px;
      }
      p {
        color: var(--Grey, #f4f6fc);
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.8;
        max-width: 400px;
        margin-top: 14px;
        margin-bottom: 28px;
      }
      .card {
        display: flex;
        gap: 27px;
      }
    }
  }
  @media (max-width: 830px) {
    .footer-content {
      grid-template-columns: 1fr;
      place-items: center;
      padding: 70px 0;
    }
    .footer-content .left-content p {
      margin-bottom: 40px;
    }
  }
  @media (max-width: 450px) {
    p {
      font-size: 12px !important;
    }
    h1 {
      font-size: 30px !important;
    }
    h3 {
      font-size: 16px !important;
    }
  }
  @media (max-width: 380px) {
    .footer-content .left-content .call {
      flex-direction: column;
      padding: 30px;
      gap: 10px;
    }
  }
}
