@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #1c1e53;
  font-family: Poppins, sans-serif !important;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    transition: all 0.5s linear;
    ul {
      display: flex;
      align-items: center;
      gap: 40px;

      li {
        a {
          color: #bbbbcb;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          transition: all 0.5s linear;
          &:hover {
            color: var(--White, #fff);
          }
          button {
            color: var(--White, #fff);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            padding: 16px 48px;
            border-radius: 41px;
            border: 2px solid rgba(244, 246, 252, 0.2);
            cursor: pointer;
          }
        }
      }
    }
    #navbar-responsive.open {
      left: 0;
    }

    .menu-btn {
      border: 0;
      background: transparent;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 4px;
      display: none;
      padding: 19.5px 0;
    }
    .menu-btn span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #ffffff;
    }
    @media (max-width: 850px) {
      #navbar-responsive {
        position: fixed;
        top: 91px;
        bottom: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1c1e53;
        transition: 0.5s;
      }

      .menu-btn {
        display: flex;
      }
    }
  }
  .navbar-shrink {
    padding: 8px 0;
    .menu-btn {
      padding: 10px 0;
    }
    #navbar-responsive {
      top: 56px;
    }
  }
}
